page-home {
	.fakeItem {
		h2, h3, p {
			-webkit-animation: infinite bgcolorchange 4s;
			animation: 4s infinite bgcolorchange;
			opacity: 0.5;
			height: 1em;
			background-color: lightgrey;
		}

		h2 {
			width: 35%;
		}

		h3 {
			width: 40%;
		} 

		p {
			width: 60%;
		}

		@keyframes bgcolorchange {
			0% {
				color: #f2f2f2;
			}
			25% {
				background: lightgray;
			}
			50% {
				background: #f2f2f2;
			}
			75% {
				background: lightgray;
			}
			100% {
				background-color: #f2f2f2;
			}
		}

		@-webkit-keyframes bgcolorchange {
			0% {
				background: #f2f2f2;
			}
			25% {
				background: lightgray;
			}
			50% {
				background: #f2f2f2;
			}
			75% {
				background: lightgray;
			}
			100% {
				background: #f2f2f2;
			}
		}
	}
}
